{% load staticfiles %}

<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Ресторан доставки роллов и пиццы в городе Тюмень. Закажите еду с доставкой домой или в офис по выгодной цене.">
        <meta name="keywords" content="суши, роллы, пицца, доставка, еда, Тюмень">
        <meta name="author" content="vikz0rx@gmail.com">

        <title>BLACKROLLS - Доставка роллов и пиццы в Тюмени</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="icon" href=​{% static 'favicon.ico' %} type="image/x-icon">
        <link rel="stylesheet" href="{% static 'reset.css' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(52881343, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <!-- /Yandex.Metrika counter -->
    </head>
    <body onload="isPageLoaded()">
        <!-- Yandex.Metrika counter -->
        <noscript>
            <div>
                <img src="https://mc.yandex.ru/watch/52881343" style="position:absolute; left:-9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
        <aside class="page-loading-overlay">
            <span class="caption">Загружаемся...</span>
            <span class="spinner">
                <i class="fas fa-circle-notch fa-spin"></i>
            </span>
        </aside>
        {% comment %} <header style='background-image: url({% static 'background3.jpg' %})'> {% endcomment %}
        <header>
            <video class="header-video" loop autoplay playsinline muted>
                <source src="https://blackrolls.ru/static/sushi-background.mp4" />
            </video>
            {% comment %} <img class="header-image" src="{% static 'background3.jpg' %}" alt="" /> {% endcomment %}
            <div class="header-overlay"></div>
            <div class="header-info">
                {% comment %} <p class='caption1'><span>Доставка</span><br /><span>Роллов</span></p>
                <p class='caption2'><span>Доставка</span><br /><span>Пиццы</span></p> {% endcomment %}
                <img src="{% static 'logo.png' %}" width="250" style="opacity: .8" alt="logo" />
                {% comment %} <h2 class="title">Blackrolls</h2> {% endcomment %}
                <h1 class="subtitle">Доставка пиццы и роллов в Тюмени</h1>
                <a href="tel:+73452616777" class="phone">+7 (3452) 616-777</a>
                <a href="https://blackrolls.ru" class="phone">blackrolls.ru</a>
            </div>
            <div class="header-warning">
                <strong>Уважаемые посетители!</strong>
                <span>В данный момент, заказ доставки возможен только по телефону. Приносим извинения за предоставленные неудобства.<br /><br /><a href="tel:+73452616777">+7 (3452) 616-777</a></span>
            </div>
        </header>
        <section class="menu">
            <article class="food-kind">
                <h2 class="food-kind-title" style="margin-bottom: 10px;">
                    Акция:
                </h2>
                <h2 class="food-kind-title" style="font-size: 1.5rem; font-weight: 300; line-height: 2.5rem; text-transform: none;">
                    Весь апрель скидка 50% на все!
                    <br />
                    Доставка в черте города всего 150 ₽
                    <br />
                    Бесплатная доставка заказов от 1000 ₽
                </h2>
            </article>
            <article class="food-kind">
                <h2 class="food-kind-title">Черные роллы</h2>
                <div class="menu-grid">
                    {% for item in sushi_black %}
                        <div class="food-card">
                            <div class="is-black">
                                BLACK
                            </div>
                            {% if item.is_hot %}
                                {% if item.cost_on_sale %}
                                    <div class="is-hot" style="right: 72.5px;">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% else %}
                                    <div class="is-hot" style="right: 27.5px;">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if item.cost_on_sale %}
                                <div class="on-sale" style="right: 27.5px;">
                                    {% comment %} {{ item.get_sale_amount }} {% endcomment %}
                                    50
                                </div>
                            {% endif %}
                            <div class="image">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                            </div>
                            <div class="title">
                                <h6>{{ item.title }}</h6>
                            </div>
                            <div class="description">
                                <p>
                                    {{ item.description }}
                                    <br /><br />
                                    Вес: {{ item.weight }} гр.
                                </p>
                            </div>
                            <div class="cost">
                                {% if item.cost_on_sale  %}
                                    <span style="text-decoration: line-through; margin-right: 10px;">{{ item.cost }}</span>
                                    <span>{{ item.cost_on_sale }}</span>
                                {% else %}
                                    <span>{{ item.cost }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="food-kind">
                <h2 class="food-kind-title">Роллы</h2>
                <div class="menu-grid">
                    {% for item in sushi %}
                        <div class="food-card">
                            {% if item.is_hot %}
                                {% if item.cost_on_sale %}
                                    <div class="is-hot" style="right: 27.5px;">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% else %}
                                    <div class="is-hot">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if item.cost_on_sale %}
                                <div class="on-sale">
                                    {% comment %} {{ item.get_sale_amount }} {% endcomment %}
                                    50
                                </div>
                            {% endif %}
                            <div class="image">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                            </div>
                            <div class="title">
                                <h6>{{ item.title }}</h6>
                            </div>
                            <div class="description">
                                <p>
                                    {{ item.description }}
                                    <br /><br />
                                    Вес: {{ item.weight }} гр.
                                </p>
                            </div>
                            <div class="cost">
                                {% if item.cost_on_sale  %}
                                    <span style="text-decoration: line-through; margin-right: 10px;">{{ item.cost }}</span>
                                    <span>{{ item.cost_on_sale }}</span>
                                {% else %}
                                    <span>{{ item.cost }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="food-kind">
                <h2 class="food-kind-title">Роллы Темпура</h2>
                <div class="menu-grid">
                    {% for item in sushi_tempura %}
                        <div class="food-card">
                            {% if item.is_hot %}
                                {% if item.cost_on_sale %}
                                    <div class="is-hot" style="right: 27.5px;">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% else %}
                                    <div class="is-hot">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if item.cost_on_sale %}
                                <div class="on-sale">
                                    {% comment %} {{ item.get_sale_amount }} {% endcomment %}
                                    50
                                </div>
                            {% endif %}
                            <div class="image">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                            </div>
                            <div class="title">
                                <h6>{{ item.title }}</h6>
                            </div>
                            <div class="description">
                                <p>
                                    {{ item.description }}
                                    <br /><br />
                                    Вес: {{ item.weight }} гр.
                                </p>
                            </div>
                            <div class="cost">
                                {% if item.cost_on_sale  %}
                                    <span style="text-decoration: line-through; margin-right: 10px;">{{ item.cost }}</span>
                                    <span>{{ item.cost_on_sale }}</span>
                                {% else %}
                                    <span>{{ item.cost }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="food-kind">
                <h2 class="food-kind-title">Пицца</h2>
                <div class="menu-grid">
                    {% for item in pizza %}
                        <div class="food-card">
                            {% if item.is_hot %}
                                {% if item.cost_on_sale %}
                                    <div class="is-hot" style="right: 27.5px;">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% else %}
                                    <div class="is-hot">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if item.cost_on_sale %}
                                <div class="on-sale">
                                    {% comment %} {{ item.get_sale_amount }} {% endcomment %}
                                    50
                                </div>
                            {% endif %}
                            <div class="image">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                            </div>
                            <div class="title">
                                <h6>{{ item.title }}</h6>
                            </div>
                            <div class="description">
                                <p>
                                    {{ item.description }}
                                    <br /><br />
                                    30 сантиметров
                                </p>
                            </div>
                            <div class="cost">
                                {% if item.cost_on_sale  %}
                                    <span style="text-decoration: line-through; margin-right: 10px;">{{ item.cost }}</span>
                                    <span>{{ item.cost_on_sale }}</span>
                                {% else %}
                                    <span>{{ item.cost }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
            <article class="food-kind">
                <h2 class="food-kind-title">Напитки</h2>
                <div class="menu-grid">
                    {% for item in drinks %}
                        <div class="food-card">
                            {% if item.is_hot %}
                                {% if item.cost_on_sale %}
                                    <div class="is-hot" style="right: 27.5px;">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% else %}
                                    <div class="is-hot">
                                        <i class="fas fa-pepper-hot"></i>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if item.cost_on_sale %}
                                <div class="on-sale">
                                    {% comment %} {{ item.get_sale_amount }} {% endcomment %}
                                    50
                                </div>
                            {% endif %}
                            <div class="image">
                                <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                            </div>
                            <div class="title">
                                <h6>{{ item.title }}</h6>
                            </div>
                            <div class="description">
                                <p>{{ item.weight }} мл.</p>
                            </div>
                            <div class="cost">
                                {% if item.cost_on_sale  %}
                                    <span style="text-decoration: line-through; margin-right: 10px;">{{ item.cost }}</span>
                                    <span>{{ item.cost_on_sale }}</span>
                                {% else %}
                                    <span>{{ item.cost }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </section>
        <footer>
            <a href="tel:+73452616777" class="phone-link">Телефон для заказа<br />+7 (3452) 616-777</a>
        </footer>

        <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="{% static 'script.js' %}"></script>
    </body>
</html>