@media (max-width: 575.98px) {
    .menu-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .menu-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .menu-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .menu-grid {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 50px;
        grid-template-columns: repeat(5, 1fr);
    }
}

html, body {
    background-color: hsl(0, 0%, 13%);
}

body {
    position: relative;
}

.page-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 13%);
}

.page-loading-overlay .caption {
    margin-bottom: 30px;

    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page-loading-overlay .spinner {

}

.page-loading-overlay .spinner i {
    color: #FFFFFF;
    font-size: 2.5rem;
}

header {
    position: relative;
    overflow: hidden;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-image: url("https://bit.ly/2CoVZ26");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}

.header-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    width: auto;
    height: 100%;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: hsl(0, 0%, 13%);
    opacity: .85;
}

.header-warning {
    position: absolute;
    bottom: 0;
    z-index: 3;

    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: hsl(0, 0%, 13%);
}

.header-warning strong {
    margin-bottom: 10px;

    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
}

.header-warning span {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

.header-warning span a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}

.header-info {
    z-index: 2;

    max-width: 90vw;
    width: 500px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-info .logo {
    padding: 10px 6px;

    display: flex;
    flex-direction: column !important;

    border: 2px solid #FFFFFF;
    border-radius: 24px;
}

.header-info .logo span {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header-info .title {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-info .subtitle {
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.menu {
    padding-bottom: 75px;
}

.food-kind {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.food-kind-title {
    margin-bottom: 50px;

    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.food-card .is-black {
    position: absolute;
    top: -17.5px;
    right: -17.5px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    border-radius: 20px;
    background-color: #000000;
}

.food-card .is-hot {
    position: absolute;
    top: -17.5px;
    right: -17.5px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    border-radius: 20px;
    background-color: #C83A2E;
}

.food-card .on-sale {
    position: absolute;
    top: -17.5px;
    right: -17.5px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;

    border-radius: 20px;
    background-color: #C83A2E;
}

.food-card .on-sale::before {
    content: '-';

    margin-right: 3px;
}

.food-card .on-sale::after {
    /* content: ' ₽'; */
    content: ' %';

    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 400;

    margin-left: 3px;
}

.food-card .image {
    overflow: hidden;

    grid-area: image;

    background-color: #FFFFFF;
}

.food-card .image img {
    margin: 15px auto 0 auto;
    width: auto;
    height: 80%;

    display: block;
}

.food-card .title {
    padding-left: 10px;
    padding-right: 10px;

    grid-area: title;
    display: flex;
    align-items: center;
}

.food-card .title h6 {
    color: #FFFFFF;
    font-size: 1.35rem;
    font-weight: 700;
    text-transform: uppercase;
}

.food-card .description {
    overflow-y: scroll;

    padding-left: 10px;
    padding-right: 10px;

    grid-area: description;
}

.food-card .description p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

.food-card .cost {
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: cost;

    /* background-color: #F9F9F9; */
}

.food-card .cost span {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 400;
}

.food-card .cost span::after {
    content: ' ₽';

    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 400;
}

.food-card {
    position: relative;

    padding-top: 10px;
    width: 100%;
    height: 280px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 35px 50px 35px ;
    grid-template-areas: 
        "image"
        "title"
        "description"
        "cost";

    /* background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, .2); */

    cursor: default;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 2;

    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #C83A2E;
}

footer .phone-link {
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
}